


/* 768px以上 */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* 992px以上 */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* 1200px以上 */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

* {
font-family: 'Ubuntu', sans-serif;}

body{
    background-color: black;
    color: white;
}

.avatar{
    background-color: black;
    border: none;


}

.avatar img {
    width: 200px;
    border-radius: 50%;
}

.jumbotron {
    background-color: black;
    /*background-image: url(../images/pic1.jpg);*/
    color: white;
    background-size: cover;
    text-align: center;
    /*padding: 250px;*/

}

.jumbotron h1 {
    font-size: 50px;
}

.container-fluid{
    background-color: black;
}

.img-rounded{
    height: 600px;


}
.fooddiary{
    color: black;
}

.main{
    margin-top:80px;
}

.word{
    color:black;
}

input{
    width:auto;
}
